In [1]:
# set with update method
py_Set1={1,2,3,56.78,"pune","john",6-7j,6-7j}
py_Set1

{(6-7j), 1, 2, 3, 56.78, 'john', 'pune'}

In [3]:
len(py_Set1)

7

In [11]:
py_Set2={45,67,"apple","banana","cherry",5-6j}
py_Set2

len(py_Set2)

6

In [8]:
py_Set2.update(py_Set1)
print(py_Set2)

{1, 2, 67, 3, 'cherry', 45, 'apple', 'banana', (6-7j), (5-6j), 'pune', 'john', 56.78}

In [15]:
py_List=[1,2,"satara"]
py_Set2.update(py_List)
print(py_Set2)

{1, 2, 67, 'satara', 'cherry', 45, 'apple', 'banana', (5-6j)}

In [17]:
py_tuple=("kiwi","orange")
py_Set2.update(py_tuple)
print(py_Set2)

{1, 2, 67, 'satara', 'cherry', 45, 'apple', 'banana', (5-6j), 'kiwi', 'orange'}

In [18]:
py_List.extend(py_tuple)
print(py_List)

[1, 2, 'satara', 'kiwi', 'orange']

In [21]:
py_tuple.count("kiwi")

1