In [3]:
# set with union
py_Set1={1,2,3,56.78,"pune","john",6-7j,6-7j,"banana"}
py_Set1

{(6-7j), 1, 2, 3, 56.78, 'banana', 'john', 'pune'}

In [2]:
py_Set2={45,67,"apple","banana","cherry",5-6j}
py_Set2

{(5-6j), 45, 67, 'apple', 'banana', 'cherry'}

In [5]:
py_Set3=py_Set1.union(py_Set2)
py_Set3

{(5-6j),
 (6-7j),
 1,
 2,
 3,
 45,
 56.78,
 67,
 'apple',
 'banana',
 'cherry',
 'john',
 'pune'}

In [19]:
a_Set1=set((1,2,3))

type(a_Set1)

set

In [21]:
a_Set2=set(('a','b','c'))
set2
type(a_Set2)

set

In [22]:
a_Set1.update(a_Set2)
print(a_Set1)

{1, 2, 3, 'b', 'c', 'a'}

In [16]:
# set with constructor
new_Set=set((1,2,"pune","java",6-7j,78.89))
print(new_Set)

{1, 2, 78.89, (6-7j), 'pune', 'java'}

In [23]:
# set with intresection
py_Set1={1,2,3,56.78,"pune","john",6-7j,6-7j,"banana"}
py_Set1

{(6-7j), 1, 2, 3, 56.78, 'banana', 'john', 'pune'}

In [24]:
py_Set2={45,1,1,2,3,6-7j,67,"apple","banana","cherry",5-6j}
py_Set2

{(5-6j), (6-7j), 1, 2, 3, 45, 67, 'apple', 'banana', 'cherry'}

In [26]:
py_Set4=py_Set1.intersection(py_Set2)
py_Set4

{(6-7j), 1, 2, 3, 'banana'}

In [27]:
py_Set1.intersection(py_Set2)
py_Set1

{(6-7j), 1, 2, 3, 56.78, 'banana', 'john', 'pune'}

In [30]:
py_Set1.intersection_update(py_Set2)
py_Set1

{(6-7j), 1, 2, 3, 'banana'}

In [32]:
py_Set1.symmetric_difference_update(py_Set2)
py_Set1

{(5-6j), 45, 67, 'apple', 'cherry'}