In [2]:
class person:
    def set_age(self,age):
        self.age=age
    def set_name(self,name):
        self.name=name
    def show_age(self):
        return self.age
    def show_name(self):
        return self.name

In [3]:
p=person()

In [4]:
p.set_age(34)

In [6]:
p.show_age()

34

In [7]:
p.set_name("john")

In [8]:
p.show_name()

'john'

In [9]:
# class using _init_() function
class employee:
    def __init__(self,name,age,gender,salary):
         self.name=name
         self.age=age
         self.gender=gender
         self.salary=salary

In [18]:
def show_details_employee(self):
    print("name of employee",self.name)
    print("age of employee",self.age)
    print("Gender of employee",self.gender)
    print("salary of employee",self.salary)

In [1]:
e1=employee("john",45,"male",50000)
e1.show_details_employee()

NameError: name 'employee' is not defined