In [5]:
def fib():
    a,b = 0,1
    while True:
        yield a
        a , b = b , a+b
        if a+b >=100:
            break

In [6]:
[i for i in fib()]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [7]:
'''class Student:
    body : methods+variables
    variable:instance,static,local variable
    methods:instance method,static methods,class methods
'''

'class Student:\n    body : methods+variables\n    variable:instance,static,local variable\n    methods:instance method,static methods,class methods\n'

In [8]:
class Student:
    pass

In [9]:
print(Student.__doc__)

None

In [11]:
class Student:
    def __init__(self):
        self.name='Jon'
        self.age=21
        self.add='Pune'
    def show(self):
        print("name:",self.name)
        print('age:',self.age)
        print('address:',self.add)

In [14]:
obj = Student()
obj1=Student()
obj2=Student()

In [13]:
obj.show()

name: Jon
age: 21
address: Pune

In [15]:
class Emp:
    def __init__(self):
        print("Hello")

In [16]:
a = Emp()  # obj create

Hello

In [44]:
class Student:
    def __init__(self,name,age,add):
        name=name
        age=age
        add=add
    def show(self):
        
        print("name:",name)
        print('age:',age)
        print('address:',add)

In [45]:
a= Student('girish',45,'pune')

In [46]:
a.show()

NameError: name 'name' is not defined

In [36]:
f

{'a': 1}

In [20]:
id(a)

2330029935624

In [21]:
class Mobile():
    def __init__(self,brand,model,price):
        self.brand = brand
        self.model = model
        self.price = price
    def show_Info(self) :
        print("brand Name is :"+str(self.brand)+"\nmodel is :"+str(self.model)+"\nprice is"+str(self.price))

In [24]:
oneplus = Mobile("1plus",'nord2',30000)
samsung = Mobile("samsung",'GalaxyM30',16000)

In [27]:
oneplus.show_Info()
samsung.show_Info()
samsung.price

brand Name is :1plus
model is :nord2
price is30000
brand Name is :samsung
model is :GalaxyM30
price is16000

16000

In [36]:
class Vehicle():
    def __init__(self,Enginetype,Wheels,Doors):
        self.Enginetype=Enginetype
        self.Wheels=Wheels
        self.Doors=Doors

In [63]:
class Car(Vehicle):
    def __init__(self,Enginetype,Wheels,Doors,Mileage,Cost):
        super().__init__(Enginetype,Wheels,Doors)
        self.Mileage=Mileage
        self.Cost=Cost
    def car_Info(self):
        print("Engine type is ",self.Enginetype,"\nNo.of wheels are:"+str(self.Wheels),"\nNo.od doors are:", self.Doors,"\nCArs mileage is ",self.Mileage+"\nCost is:",self.Cost)

In [64]:
Audi=Car("diesel",4,4,'20 Km/hr','1cr')

In [65]:
Audi.car_Info()

Engine type is  diesel
No.of wheels are:4
No.od doors are: 4
CArs mileage is  20 Km/hr
Cost is: 1cr

In [66]:
Nano=Car("petrol",4,4,"25 km/hr",'2 lakh')

In [67]:
Nano.car_Info()

Engine type is  petrol
No.of wheels are:4
No.od doors are: 4
CArs mileage is  25 km/hr
Cost is: 2 lakh

In [69]:
Nano.Mileage

'25 km/hr'

In [70]:
class Car():
    
    wheels=4
    def __init__(self):
        print("Insidde constructor")

In [72]:
Alto=Car()
Alto.wheels

Insidde constructor

4

In [73]:
Car.wheels

4

In [84]:
class Car():
    wheels=4
    def __init__(self):
        self.EngineType="Diesel"
   
    def show_car_Info(cls):
        print("no .of whheels is:",cls.wheels)

In [85]:
Alto=Car()

In [86]:
Alto.show_car_Info()

no .of whheels is: 4

In [90]:
class Mobile:
     fp = 'yes'
     @classmethod
     def show_model(cls, r):
            cls.ram = r
            print(cls.fp, cls.ram)

realme = Mobile( )

In [94]:
realme.show_model('ram')

yes ram

In [95]:
class Student():
    college_name="COEP"
    @classmethod
    def stud_Info(cls):
        print(cls.college_name)

In [96]:
s=Student()

In [97]:
s.stud_Info()

COEP

In [100]:
s.college_name

'COEP'

In [103]:
class Mobile():
    def show(m,p):
        model=m
        price=p
        print(model,price)

In [105]:
realme=Mobile()

In [108]:
Mobile.show('A7',10000)

A7 10000

In [137]:
class Mobile():
    
    @classmethod
    def show(cls,p,name):
        print(cls.name)
        print(cls.p)

In [140]:
nokia=Mobile()

In [141]:
nokia.show(23,'swada')

AttributeError: type object 'Mobile' has no attribute 'name'

In [125]:
class Mobile():
    @staticmethod
    def show(m,p):
        model=m
        price=p
        print(model,price)

In [126]:
m=Mobile()

In [127]:
m.show('SW',2345)

SW 2345