In [20]:
class vehicle():
    def __init__(self,mileage,cost):
           self.mileage=mileage
           self.cost=cost
    
    def show_vehicle_details(self):
         
           print("mileage of vehicle:",self.mileage) 
           print("cost of vehicle",self.cost)
class car(vehicle):
    def __init__(self,veh_Name,mileage,cost):
        super().__init__(mileage,cost)
        self.veh_Name = veh_Name
    def show_car_Info(self):
        print("car name is"+self.veh_Name)

In [21]:

Nano = car("nano","20km/hr",200000)

In [22]:
Nano.show_vehicle_details()
Nano.show_car_Info()

mileage of vehicle: 20km/hr
cost of vehicle 200000
car name isnano

In [30]:
def greet(func):
    def welcome():
        print("hi welcome")
        func()
        print("nice to see ypu")
    return welcome()    
@greet
def wish():
    print("Hello Good Morning")

hi welcome
Hello Good Morning
nice to see ypu

In [29]:
greet(wish)

hi welcome
Hello Good Morning
nice to see ypu

In [40]:
fruits = ['Apple','Mango','Oranges','Banana']

In [41]:
rates = [250,450,60,50]

In [42]:
dict2 = list(zip(fruits,rates))

In [43]:
dict2

[('Apple', 250), ('Mango', 450), ('Oranges', 60), ('Banana', 50)]

In [54]:
fruits,rates = zip(*dict2)

In [55]:
fruits,rates

(('Apple', 'Mango', 'Oranges', 'Banana'), (250, 450, 60, 50))

In [79]:
stu_Name = ['swarali','sayaa','swarada','ashi']

In [80]:
marks = (23,45,32,25)

In [81]:
roll_No = (23,12,1,32)

In [82]:
stu_Info_Combined = list(zip(stu_Name,marks,roll_No))

In [83]:
stu_Info_Combined

[('swarali', 23, 23), ('sayaa', 45, 12), ('swarada', 32, 1), ('ashi', 25, 32)]

In [84]:
stu_Name,marks,roll_No = zip(*stu_Info_Combined)

In [85]:
stu_Name,marks,roll_No

(('swarali', 'sayaa', 'swarada', 'ashi'), (23, 45, 32, 25), (23, 12, 1, 32))

In [86]:

stu_Name[0],marks[0],roll_No[0]

('swarali', 23, 23)

In [97]:
l1.append(sayaa)

In [98]:
l1

[['sayaa', 45, 12, [...]]]

In [102]:
student = {'name':'sayanaa','age':15,'marks':34,'city':'pune'}

In [103]:
student

{'name': 'sayanaa', 'age': 15, 'marks': 34, 'city': 'pune'}

In [104]:
fr_Set = frozenset(student)

In [107]:
fr_Set

frozenset({'age', 'city', 'marks', 'name'})

In [109]:
def numbers():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 15

In [113]:
gen = numbers()

In [116]:
next(gen)

1

In [117]:
next(gen)

2

In [118]:
next(gen)

3

In [119]:
next(gen)

4

In [120]:
next(gen)

15

In [121]:
next(gen)

StopIteration:

In [130]:
for i in range(10):
    yield 1

SyntaxError: 'yield' outside function (<ipython-input-130-c20d7107d1ac>, line 2)