In [1]:
py_list=[1,34.78,"satara",]
py_list

[1, 34.78, 'satara']

In [2]:
py_list.append("Hello")

In [3]:
py_list

[1, 34.78, 'satara', 'Hello']

In [4]:
py_list.clear()

In [5]:
py_list

[]

In [6]:
py_list1=[1,34.78,"satara",3-4j,2345]
py_list1

[1, 34.78, 'satara', (3-4j), 2345]

In [11]:
py_list1.copy()
py_list1

[1, 34.78, 'satara', (3-4j), 2345]

In [12]:
py_list1.count(1)

1

In [16]:
py_list1.insert(-1,"stop")

py_list1

[1, 'welcome', 'welcome', 34.78, 'satara', (3-4j), 'stop', 2345]

In [18]:
py_list2=[234,67.98,"this is 2 list"]
py_list2

[234, 67.98, 'this is 2 list']

In [20]:
py_list1.extend(py_list2)
py_list1

[1,
 'welcome',
 'welcome',
 34.78,
 'satara',
 (3-4j),
 'stop',
 2345,
 234,
 67.98,
 'this is 2 list',
 234,
 67.98,
 'this is 2 list']

In [21]:
py_list2.extend(py_list1)

In [22]:
py_list2

[234,
 67.98,
 'this is 2 list',
 1,
 'welcome',
 'welcome',
 34.78,
 'satara',
 (3-4j),
 'stop',
 2345,
 234,
 67.98,
 'this is 2 list',
 234,
 67.98,
 'this is 2 list']

In [23]:
print(py_list2)

[234, 67.98, 'this is 2 list', 1, 'welcome', 'welcome', 34.78, 'satara', (3-4j), 'stop', 2345, 234, 67.98, 'this is 2 list', 234, 67.98, 'this is 2 list']