In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('covid.csv')

In [3]:
df.describe()

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
count,24,24,25,25,25,25,25,25,24,24
unique,24,24,24,24,25,25,25,25,22,20
top,Pakistan,LAO,6.6,9.9,7.14,18.91,-0.6,-1.21,no data,no data
freq,1,1,2,2,1,1,1,1,3,4

In [4]:
df.head(40)

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
0,NaN,NaN,Shorter- containment,Longer- containment,Shorter- containment,Longer- containment,Shorter- containment,Longer- containment,NaN,NaN
1,Bangladesh,BAN,7.7,11.55,12.1,18.15,-0.07,-0.11,92.5,-56.6
2,Bhutan,BTN,6.6,9.9,9.57,14.35,-2.76,-4,84.1,no data
3,Brunei Darussalam,BRN,6.42,9.64,8.97,13.46,-0.78,-1.13,57.4,no data
4,Cambodia,CAM,4.27,6.4,6.26,9.39,-11,-15.92,no data,-33.7
5,Fiji,FIJ,4.97,7.46,7.33,11,-13.83,-20.01,no data,-33.4
6,"Hong Kong, China",HKG,5.2,7.8,9.9,14.85,-6.38,-9.23,60.6,-18.8
7,India,IND,6.4,9.6,10.9,16.35,-0.6,-0.87,86.8,-52.9
8,Indonesia,IDN,5,7.5,6.5,9.75,-0.84,-1.21,61.4,-32.5
9,Kazakhstan,KAZ,7.46,11.2,11.33,17,-0.83,-1.2,82.8,-40.8
10,Kyrgyz Republic,KGZ,7.99,11.98,12.61,18.91,-3.36,-4.87,85.4,-59.3
11,Lao People's Democratic Republic,LAO,3.67,5.5,5.42,8.13,-2.36,-3.41,90.6,-42
12,Malaysia,MAL,6.7,10.05,8.6,12.9,-3.39,-4.91,64.9,-51.8
13,Maldives,MDV,7.31,10.96,11.06,16.6,-32.03,-46.36,no data,no data
14,Mongolia,MON,3.78,5.67,4.67,7.01,-2.25,-3.25,68,-0.5
15,Nepal,NPL,6.28,9.41,10.06,15.09,-1.43,-2.07,95.2,-62
16,Pakistan,PAK,7.26,10.89,11.11,16.67,-0.15,-0.21,90.1,-44.6
17,People's Republic of China,CHN,5.46,8.19,7.14,10.72,-0.14,-0.2,57.5,no data
18,Philippines,PHI,6.2,9.3,13.3,19.95,-1.64,-2.37,92.9,-63.2
19,Republic of Korea,KOR,4.8,7.2,2.3,3.45,-0.68,-0.99,63.1,-4.2
20,Singapore,SIN,7.3,10.95,7.7,11.55,-3.13,-4.53,55.6,-25.9
21,Sri Lanka,SRI,7.33,10.99,11.78,17.67,-3.52,-5.1,90.5,-66.4
22,"Taipei,China",TAP,2,3,2.7,4.05,-2.41,-3.48,29.7,-6.9
23,Thailand,THA,6.6,9.9,8.9,13.35,-7.22,-10.45,71.2,-33.7
24,Viet Nam,VIE,3.57,5.35,5.13,7.7,-2.3,-3.32,75.5,-31.2

In [6]:
# df[df['Average Stringency Index'<'50']].describe()

KeyError: False

In [8]:
df.head(7)

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
0,NaN,NaN,Shorter- containment,Longer- containment,Shorter- containment,Longer- containment,Shorter- containment,Longer- containment,NaN,NaN
1,Bangladesh,BAN,7.7,11.55,12.1,18.15,-0.07,-0.11,92.5,-56.6
2,Bhutan,BTN,6.6,9.9,9.57,14.35,-2.76,-4,84.1,no data
3,Brunei Darussalam,BRN,6.42,9.64,8.97,13.46,-0.78,-1.13,57.4,no data
4,Cambodia,CAM,4.27,6.4,6.26,9.39,-11,-15.92,no data,-33.7
5,Fiji,FIJ,4.97,7.46,7.33,11,-13.83,-20.01,no data,-33.4
6,"Hong Kong, China",HKG,5.2,7.8,9.9,14.85,-6.38,-9.23,60.6,-18.8

In [2]:
import pandas as pd
df=pd.read_csv('covid.csv')
df['Consumption shocks (% decline in consumption growth)'].sort_values()

22                       2
24                    3.57
11                    3.67
14                    3.78
4                     4.27
19                     4.8
5                     4.97
8                        5
6                      5.2
17                    5.46
18                     6.2
15                    6.28
7                      6.4
3                     6.42
2                      6.6
23                     6.6
12                     6.7
16                    7.26
20                     7.3
13                    7.31
21                    7.33
9                     7.46
1                      7.7
10                    7.99
0     Shorter- containment
Name: Consumption shocks (% decline in consumption growth), dtype: object

In [5]:
df['Consumption shocks (% decline in consumption growth)'].sort_values().value_counts()

6.6                     2
6.28                    1
7.33                    1
3.67                    1
7.99                    1
2                       1
5.46                    1
3.78                    1
4.8                     1
5.2                     1
7.26                    1
6.4                     1
7.3                     1
6.2                     1
6.7                     1
4.97                    1
7.46                    1
6.42                    1
3.57                    1
4.27                    1
7.7                     1
5                       1
7.31                    1
Shorter- containment    1
Name: Consumption shocks (% decline in consumption growth), dtype: int64

In [7]:
df.head(5)

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
0,NaN,NaN,Shorter- containment,Longer- containment,Shorter- containment,Longer- containment,Shorter- containment,Longer- containment,NaN,NaN
1,Bangladesh,BAN,7.7,11.55,12.1,18.15,-0.07,-0.11,92.5,-56.6
2,Bhutan,BTN,6.6,9.9,9.57,14.35,-2.76,-4,84.1,no data
3,Brunei Darussalam,BRN,6.42,9.64,8.97,13.46,-0.78,-1.13,57.4,no data
4,Cambodia,CAM,4.27,6.4,6.26,9.39,-11,-15.92,no data,-33.7

In [8]:
df.dropna()

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
1,Bangladesh,BAN,7.7,11.55,12.1,18.15,-0.07,-0.11,92.5,-56.6
2,Bhutan,BTN,6.6,9.9,9.57,14.35,-2.76,-4,84.1,no data
3,Brunei Darussalam,BRN,6.42,9.64,8.97,13.46,-0.78,-1.13,57.4,no data
4,Cambodia,CAM,4.27,6.4,6.26,9.39,-11,-15.92,no data,-33.7
5,Fiji,FIJ,4.97,7.46,7.33,11,-13.83,-20.01,no data,-33.4
6,"Hong Kong, China",HKG,5.2,7.8,9.9,14.85,-6.38,-9.23,60.6,-18.8
7,India,IND,6.4,9.6,10.9,16.35,-0.6,-0.87,86.8,-52.9
8,Indonesia,IDN,5,7.5,6.5,9.75,-0.84,-1.21,61.4,-32.5
9,Kazakhstan,KAZ,7.46,11.2,11.33,17,-0.83,-1.2,82.8,-40.8
10,Kyrgyz Republic,KGZ,7.99,11.98,12.61,18.91,-3.36,-4.87,85.4,-59.3
11,Lao People's Democratic Republic,LAO,3.67,5.5,5.42,8.13,-2.36,-3.41,90.6,-42
12,Malaysia,MAL,6.7,10.05,8.6,12.9,-3.39,-4.91,64.9,-51.8
13,Maldives,MDV,7.31,10.96,11.06,16.6,-32.03,-46.36,no data,no data
14,Mongolia,MON,3.78,5.67,4.67,7.01,-2.25,-3.25,68,-0.5
15,Nepal,NPL,6.28,9.41,10.06,15.09,-1.43,-2.07,95.2,-62
16,Pakistan,PAK,7.26,10.89,11.11,16.67,-0.15,-0.21,90.1,-44.6
17,People's Republic of China,CHN,5.46,8.19,7.14,10.72,-0.14,-0.2,57.5,no data
18,Philippines,PHI,6.2,9.3,13.3,19.95,-1.64,-2.37,92.9,-63.2
19,Republic of Korea,KOR,4.8,7.2,2.3,3.45,-0.68,-0.99,63.1,-4.2
20,Singapore,SIN,7.3,10.95,7.7,11.55,-3.13,-4.53,55.6,-25.9
21,Sri Lanka,SRI,7.33,10.99,11.78,17.67,-3.52,-5.1,90.5,-66.4
22,"Taipei,China",TAP,2,3,2.7,4.05,-2.41,-3.48,29.7,-6.9
23,Thailand,THA,6.6,9.9,8.9,13.35,-7.22,-10.45,71.2,-33.7
24,Viet Nam,VIE,3.57,5.35,5.13,7.7,-2.3,-3.32,75.5,-31.2

In [10]:
df.describe(include=['object','float'])

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
count,24,24,25,25,25,25,25,25,24,24
unique,24,24,24,24,25,25,25,25,22,20
top,Kazakhstan,KAZ,6.6,9.9,4.67,14.35,-11,-0.99,no data,no data
freq,1,1,2,2,1,1,1,1,3,4

In [14]:
newdf = df[df['Economy']=='India']

In [15]:
newdf

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
7,India,IND,6.4,9.6,10.9,16.35,-0.6,-0.87,86.8,-52.9

In [17]:
newdf1=df[df['Economy']=="Bangladesh"]

In [18]:
newdf1

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
1,Bangladesh,BAN,7.7,11.55,12.1,18.15,-0.07,-0.11,92.5,-56.6

In [20]:
B1=df[df['Economy']=="Bangladesh"]

In [21]:
B1

,Economy,code,Consumption shocks (% decline in consumption growth),Unnamed: 3,Investment shocks (% decline in investment growth),Unnamed: 5,Decline in tourism receipts (% of GDP),Unnamed: 7,Average Stringency Index,Average Mobility
1,Bangladesh,BAN,7.7,11.55,12.1,18.15,-0.07,-0.11,92.5,-56.6