In [1]:
import pandas as pd

In [2]:
p1=pd.Series([1,2,3,4,5])

In [3]:
p1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(p1)

pandas.core.series.Series

In [5]:
p2=pd.Series([5,4,3,2,2],index=['k1','k2','k3','k4','k5'])

In [6]:
p2

k1    5
k2    4
k3    3
k4    2
k5    2
dtype: int64

In [7]:
import pandas as pd
# p3=pd.Series([3,6,8,9],index=['a','b','c','d','e'])

In [8]:
p4=pd.Series({'d1':20,'d2':40,'d3':50})
#               index=(['d4','d2','d1','d3']))

In [9]:
p4

d1    20
d2    40
d3    50
dtype: int64

In [10]:
p5=pd.Series({'d1':48,'d2':5-6j,'d3':'apple','d5':3454.78}, index=['d5','d6','d7','d1','d2','d3'])

In [11]:
p5

d5    3454.78
d6        NaN
d7        NaN
d1         48
d2     (5-6j)
d3      apple
dtype: object

In [13]:
 s1=pd.Series([1,2,3])

In [14]:
s2=pd.Series([4,5,6])

In [15]:
s1+s2

0    5
1    7
2    9
dtype: int64

In [16]:
s1+9

0    10
1    11
2    12
dtype: int64

In [17]:
s1*2

0    2
1    4
2    6
dtype: int64

In [18]:
s1-1

0    0
1    1
2    2
dtype: int64

In [19]:
pd.DataFrame({"Name":["apple","orange","mango","kiwi"],"price":[200,60,100,150]})

     Name  price
0   apple    200
1  orange     60
2   mango    100
3    kiwi    150