In [12]:
def outer(func):
    def inner():
        print('inside inner')
        func()
        print('inside inner,after enhancing')
    return inner()

In [13]:
@outer
def newfunc():
    print('inside newfunc')

inside inner
inside newfunc
inside inner,after enhancing

In [14]:
class Human(): 
    def eating(self):
        print('inside eating function')

In [15]:
def sleeping():
    print('inside sleeping function...')

In [16]:
male =Human()

In [17]:
male.eating=sleeping

In [20]:
male.eating()

inside sleeping function...

In [23]:
def square2(num):
    sqr = num**2
    return sqr

In [24]:
square2(2)

4

In [26]:
list1=[1,2,3,4,5]

In [30]:
mapped =list(map(square2,list1))

In [31]:
mapped

[1, 4, 9, 16, 25]

In [32]:
list(map(lambda x:x*x,list1))

[1, 4, 9, 16, 25]

In [34]:
list(map(lambda x:x**3,list1))

[1, 8, 27, 64, 125]

In [38]:
f2=list(filter(lambda x:x%2==0,list1))

In [39]:
f2

[2, 4]

In [49]:


from functools import reduce 
result = reduce(lambda x,y:x*y,list1)

In [50]:
result

120

In [45]:
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]

In [43]:
list(map(lambda x, y, z : x+y+z, a, b, c))

[17, 10, 19, 23]

In [51]:
l1 = [20,30,40,10]

In [52]:
l2 = [100,200,300,400]

In [53]:
list(map(lambda x:(if x % 2 ==0) else "no value",l1,l2))

SyntaxError: invalid syntax (<ipython-input-53-c3fcfd0544cc>, line 1)

In [54]:
fruits = ['apple','banana','mango']

In [55]:
[fruit for fruit in zip(range(3),fruits)]

[(0, 'apple'), (1, 'banana'), (2, 'mango')]

In [58]:
grades = ['A','B','C']

In [61]:
 [grade for grade in zip(range(1,4),grades)]

[(1, 'A'), (2, 'B'), (3, 'C')]

In [2]:
string1 = 'python'
[word for word in zip(range(6),string1)]

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [64]:
fruits = ['apple','mango','banana']
rates = [100,300,30]

In [67]:
[r for f,r in zip(fruits,rates)]

[100, 300, 30]

In [7]:
fruits = ['apple','mango','banana']
rates = [100,300,30]

[{x:y} for x in fruits for y in rates]

[{'apple': 100},
 {'apple': 300},
 {'apple': 30},
 {'mango': 100},
 {'mango': 300},
 {'mango': 30},
 {'banana': 100},
 {'banana': 300},
 {'banana': 30}]

In [73]:
str1='abc'
s='.'
s.join(str1)

'a.b.c'

In [74]:
colours = [ "red", "green", "yellow", "blue" ]
things = [ "house", "car", "tree" ]
coloured_things = [ (x,y) for x in colours for y in things ]
print(coloured_things)

[('red', 'house'), ('red', 'car'), ('red', 'tree'), ('green', 'house'), ('green', 'car'), ('green', 'tree'), ('yellow', 'house'), ('yellow', 'car'), ('yellow', 'tree'), ('blue', 'house'), ('blue', 'car'), ('blue', 'tree')]

In [89]:
[x for x in range(1,11) if x%2!=0]

[1, 3, 5, 7, 9]

In [95]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [113]:
product = ['pen','pencil','rubber']

In [114]:
price = [10,5,5]

In [115]:
total = [(x,y) for x in product for y in price]

In [117]:
total

[('pen', 10),
 ('pen', 5),
 ('pen', 5),
 ('pencil', 10),
 ('pencil', 5),
 ('pencil', 5),
 ('rubber', 10),
 ('rubber', 5),
 ('rubber', 5)]

In [133]:
new_list =dict (zip(*(product,price)))

In [134]:
new_list

{'pen': 10, 'pencil': 5, 'rubber': 5}

In [138]:
product = (zip(*new_list))

In [139]:
product

In [140]:
price

(10, 5, 5)

In [141]:
new1 = dict(new_list)

In [142]:
new1

{'pen': 10, 'pencil': 5, 'rubber': 5}

In [143]:
d1 = {'a':1,'a':2,'a':3}

In [144]:
d1

{'a': 3}

In [148]:
d2 = ('a')

In [149]:
type(d2)

str

In [150]:
d1.items()

dict_items([('a', 3)])

In [151]:
res = OrderedDict(reversed(list(d1)))

NameError: name 'OrderedDict' is not defined

In [152]:
import collections
employee = collections.namedtuple('employee',['name','age'])

In [153]:
e = employee('swapnali',29)

In [155]:
e[0]

'swapnali'

In [156]:
e.name

'swapnali'

In [2]:
# reverse a list
l=[3,4,5]
r = []
for i in l:
    r.insert(0,i)
print(r)

[5, 4, 3]

In [4]:
# reverse a string
str1="pune"
str3 = " "
for i in str1:
    str3 = i+str3
print(str3)

enup

In [1]:
l2 =[3,4,4,5.1,2]
num=7
for i in range(len(l2)):
    for j in range(i,len(l2)):
        if l2[i]+l2[j] == num:
             print("pair found :",l2[i],l2[j])

pair found : 3 4
pair found : 3 4