In [1]:
class Human():
    def eating(self):
        print("humas have to eat for live....")

In [2]:
def sleeping():
    print("NOw in sleeping function..")

In [3]:
male = Human()

In [4]:
male.eating = sleeping

In [7]:
male.eating()

NOw in sleeping function..

In [19]:
a = 10
b = 10

In [20]:
a == b

True

In [21]:
id(a)==id(b)

True

In [22]:
a = [1,2,3,4]

In [23]:
b=a.copy()

In [24]:
b

[1, 2, 3, 4]

In [25]:
id(a)==id(b)

False

In [26]:
a == b

True

In [27]:
del a

In [28]:
b

[1, 2, 3, 4]

In [29]:
l1 = [1,2,3,4]

In [30]:
l2 = l1

In [31]:
l2

[1, 2, 3, 4]

In [32]:
l2[0]=23

In [33]:
l2

[23, 2, 3, 4]

In [34]:
l1

[23, 2, 3, 4]

In [35]:
id(l2) == id(l1)

True

In [45]:
l3 = [3,4,5]

In [46]:
l4 = l3.copy()

In [47]:
l4

[3, 4, 5]

In [54]:
l4[0][1]=[45,'a','b']['n',34]

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-54-9945f9e48567>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  l4[0][1]=[45,'a','b']['n',34]

TypeError: list indices must be integers or slices, not tuple

In [55]:
l4

[3, 4, 5]

In [53]:
l3

[3, 4, 5]

In [56]:
import copy
ls1 = [1,2,[3,4,5]]

In [57]:
ls2 = copy.deepcopy(ls1)

In [58]:
ls2

[1, 2, [3, 4, 5]]

In [59]:
ls2[0] = ['a','b','c']

In [60]:
ls2

[['a', 'b', 'c'], 2, [3, 4, 5]]

In [61]:
ls1

[1, 2, [3, 4, 5]]

In [63]:
id(ls1) == id(ls2)

False

In [64]:
ls12 = [2,3,[4,5,6]]

In [72]:
ls22 = copy.copy(ls12)

In [73]:
ls22

[2, 3, [4, 5, 6]]

In [78]:
ls22[2] =['pune']

In [79]:
ls22

[2, ['pune'], ['pune']]

In [80]:
ls12

[2, 3, [4, 5, 6]]

In [81]:
ls12==ls22

False

In [111]:
List1 = []
Number = int(input("Enter total  No. of Elements..."))
for num in range(Number):
    element = int(input("Enter the list elements... "))
    List1.append(element)
print("Given lis is:",List1) 

for i in range(len(List1)):
    for j in range(len(List1)):
        if List1[i]>List1[j]:
            temp = List1[i]
            List1[i] = List1[j]
            List1[j] = temp
print("Sorted List is:",List1)

Enter total  No. of Elements...2
Enter the list elements... 34
Enter the list elements... 1
Given lis is: [34, 1]
Sorted List is: [34, 1]

In [118]:
  
list3 = [45,67,78,34]

In [122]:
max((list3.count(i),i) for i in list3)

(1, 78)

In [121]:

count = 0
num = 0
for i in list3:
    count = count+1
    num = num+i
print("Count of no is:{} sum of no is:{}".format(count,num))

Count of no is:4 sum of no is:224

In [2]:
def fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b,a+b

In [3]:
list(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [4]:
def func(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b,a+b

In [12]:
list(func(20))

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [46]:
for i in range(5,0,-1):
    for j in range(i):
#           print("*", end = "") 
            
         print(j+1,end = "")
    print()

12345
1234
123
12
1

In [58]:
num=1
for i in range(5):
    for j in range(i):
        print(num, end = "") 
        num=num+1
            
#         print(j+1,end = "")
    print()

1
23
456
78910

In [78]:
num=65
for i in range(n):
    for j in range(n):
        ch=chr(num)
        print(ch,end=" ")
        num+=1
        
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [89]:
count=0
with open("file.txt",'r') as f:
    text = f.read()
    for i in  text:
        if i.isupper():
            count =count+1
            print(count,i)

1 H
2 T
3 I
4 F
5 C
6 U
7 C
8 L

In [100]:
def func1():
    '''this is function one'''
    print("Inside function 1.....")

In [105]:
def func2():
    '''This is funct 2'''
    print("Inside function 2")
    func1()
    print("In function 2 ")
    print(func2.__doc__)
    print(func1.__doc__)

In [106]:
func2()

Inside function 2
Inside function 1.....
In function 2
This is funct 2
this is function one

In [107]:
print(len.__doc__)

Return the number of items in a container.

In [108]:
print(ord.__doc__)

Return the Unicode code point for a one-character string.

In [109]:
print(chr.__doc__)

Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [111]:
with open("file.txt",'a') as f:
    f.writelines("HIii This is  new line addded....This is third line added ")
    
    print("data written successfully")

data written successfully

In [ ]:
def fibo(n):