In [67]:
class Car():
    def __init__(self,windows,doors,enginetype):
        self._windows  = windows
        self.__doors  = doors
        self.enginetype  = enginetype
    
    def drive(self):
        return"person drives the car"

In [68]:
alto = Car(4,4,"Diesel")

In [69]:
alto.drive()

'person drives the car'

In [75]:
alto._windows

4

In [78]:
alto._Car__doors

4

In [122]:
class Alto(Car):
    def __init__(self,windows,doors,enginetype,enableai):
        super().__init__(windows,doors,enginetype)
        self.enableai = enableai
    def show_Info(self):
        print("no.of windows are",self._windows)
        print("no.of doors are",self.Car_Alto.__doors)
        print("NO.of windows are:{},no.of doors are:{},Engine type is:{}".format(al._windows,al._Car__doors,self.enginetype))

In [123]:
al = Alto(4,5,"petrol","yes")

In [124]:
al._windows

4

In [125]:
al.show_Info()

no.of windows are 4

AttributeError: 'Alto' object has no attribute 'Car_Alto'

In [130]:
class Magic():
    def __new__(a):
        print("new  method calle d before init")
    def __init__(a):
        a.name = name
        print("init called aftre new")
m1 = Magic() 
m1.__new__()
m1.__init__("puen")

new  method calle d before init

TypeError: NoneType.__new__(): not enough arguments

In [142]:
class Student:
    name = 'unknown' # class attribute
    def __init__(self):
        self.age = 20  # instance attribute

    @classmethod
    def tostring(cls):
        print('Student Class Attributes: name=',cls.name)

In [150]:
class College:
    collegeName="COEP"
    def __init__(self):
        self.location = "Pune"

In [151]:
class engCollege(College):
    @classmethod
    def collegeInfo(v):
        print(v.collegeName)

In [152]:
en = engCollege()

In [153]:
en.collegeInfo()

COEP

In [155]:
College.collegeName

'COEP'

In [166]:
class Emp():
    emp_id = 1234
    def __init__(self):
        self.name = "Nilima"
class Dept(Emp):
    def __init__(self):
        super().__init__()
    @classmethod
    def show(v):
            print("emp id is:{} emp name is ".format(v.emp_id))
d = Dept()
Dept.show()
d.show()

emp id is:1234 emp name is
emp id is:1234 emp name is

In [167]:
5*4**2

80

In [168]:
5*4

20

In [169]:
4**2

16

In [175]:
a = ['one','two','three']

In [177]:
b=a.sort()

In [179]:
max('ten',10,10.00)

TypeError: '>' not supported between instances of 'int' and 'str'

In [180]:
names = ('asc','bsc','dsc','vnc')
a,b,c,d =names
print('hello',a)

hello asc

In [181]:
lst = [1,2,3,4]

In [185]:
del lst

In [186]:
lst

NameError: name 'lst' is not defined

In [187]:
lst1 = ['python','c','c++']
lst1.insert(len(lst1),'sql')
print(lst1)

['python', 'c', 'c++', 'sql']

In [188]:
last2= [1,2,3,4,5]
last2[-5:-3]

[1, 2]

In [191]:
ls = [1,2,3]
ls[:] = [4,5,6]
print(ls)

[4, 5, 6]

In [192]:
x = 'x'
y = 'x'
print(x is y)

True

In [194]:
num = list({1:'one',2:'two'})
print(num)

[1, 2]

In [195]:
l=[1]
type(l)

list

In [196]:
t=(1)

In [197]:
type(t)

int

In [198]:
lsr =[1,2,3,4,5]
lsr[0:1]

[1]

In [203]:
tuple('1,2')

('1', ',', '2')

In [202]:
tuple((1,2))

(1, 2)

In [204]:
tuple([1,2])

(1, 2)

In [205]:
tuple(1,2)

TypeError: tuple expected at most 1 argument, got 2

In [206]:
years = {1195:'java',1996:'c',1979:'python'}
list(years)

[1195, 1996, 1979]

In [207]:
s1={1,2,3,4,5}
s2 = {4,5,6,7,8}
s1-s2

{1, 2, 3}

In [208]:
s={1,2,3}
s[0]=10
s

TypeError: 'set' object does not support item assignment

In [210]:
l=[1,2,3,4,5]
l[0:1]
l

[1, 2, 3, 4, 5]

In [211]:
nums = ["one":1,"two":2]
print(nums["one"])

SyntaxError: invalid syntax (<ipython-input-211-89f858dec494>, line 1)

In [212]:
years = {1195:'java',1996:'c',1979:'python'}
print(years.get(2000))

None

In [213]:
s = set("Hello")
s

{'H', 'e', 'l', 'o'}

In [214]:
s={1,2,3,4,5}
s2 = {4,5,6,7,8}
s|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [217]:
color = {1:'blue',2:'red',3:'green'}
itms = color.items()
print(itms)

dict_items([(1, 'blue'), (2, 'red'), (3, 'green')])

In [226]:
[color.get(1) for i in range(len(color))]

['blue', 'blue', 'blue']

In [236]:
list3=[3,4,5,6,7,3,4,4,55,6,6,10]

In [237]:
[(list3.count(i),i) for i in set(list3)]

[(2, 3), (3, 4), (1, 5), (3, 6), (1, 7), (1, 10), (1, 55)]

In [238]:
count = 0
num = 0
for i in list3:
    num = num+i 
    count = count+1
print(num)    
print(count)

113
12

In [241]:
[{i:i} for i in set(list3)]

[{3: 3}, {4: 4}, {5: 5}, {6: 6}, {7: 7}, {10: 10}, {55: 55}]

In [272]:
class Vehicle():
    def __init__(self,windows,doors,engineType):
        self._windows = windows
        self.__doors = doors
        self.engineType = engineType
    def drive(self):
        print("The car has been driven")
class Car(Vehicle):
    def __init__(self,windows,doors,engineType,autodrive):
        super().__init__(windows,doors,engineType) 
        self.autodrive = autodrive
    def showCarInfo(self):
        print("No. of windows are:{}\n No.of doors are:{}\n Engine Type is :{}\n is car has autodrive:{}".
                format(self._windows,self._Vehicle__doors,self.engineType,self.autodrive))

In [273]:
Alto = Car(4,5,"petrol","yes")

In [274]:
Alto._windows

4

In [275]:
Alto._Vehicle__doors

5

In [276]:
Alto.showCarInfo()

No. of windows are:4
 No.of doors are:5
 Engine Type is :petrol
 is car has autodrive:yes

In [1]:
for i in range(5):
    print(i)
else:
    print("loop ended")

0
1
2
3
4
loop ended