In [1]:
dict1 = {(('Name'), ['Address']): 'Zara', 'Age': 7}

TypeError: unhashable type: 'list'

In [1]:

dict1 = {('Name'): 'Zara', 'Age': 7}
for key, value in dict1.items():  
    print(key, value)

Name Zara
Age 7

In [26]:
dict1 = {'Emp1':{'name':'sneha','age':30,'salary':30000},
         'Emp2':{'name':'seema','age':25,'salary':20000},
         'Emp3':{'name':'sai','age':30,'salary':4000}}

In [27]:
import pandas
df = pandas.DataFrame(dict1)

In [29]:
df.columns

Index(['Emp1', 'Emp2', 'Emp3'], dtype='object')

In [30]:
df['new_column'] = 'new_value'

In [37]:
df2 = df.drop('new_column',axis=1)

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, name to salary
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Emp1    3 non-null      object
 1   Emp2    3 non-null      object
 2   Emp3    3 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [52]:
df.shape

(3, 4)

In [53]:
df.describe()

         Emp1   Emp2  Emp3 new_column
count       3      3     3          3
unique      3      3     3          1
top     sneha  seema    30  new_value
freq        1      1     1          3

In [56]:
dtype(df)

NameError: name 'dtype' is not defined

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\Admin\\Downloads\\xyz.csv")

In [4]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [61]:
df.describe()

               Year
count  37080.000000
mean    2016.500000
std        2.291319
min     2013.000000
25%     2014.750000
50%     2016.500000
75%     2018.250000
max     2020.000000

In [63]:
import datetime
df['new'] = datetime.datetime.now()

In [64]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,new
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,2021-11-20 17:26:52.736669
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...,2021-11-20 17:26:52.736669
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,2021-11-20 17:26:52.736669
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,2021-11-20 17:26:52.736669
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,2021-11-20 17:26:52.736669
...,...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",2021-11-20 17:26:52.736669
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",2021-11-20 17:26:52.736669
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",2021-11-20 17:26:52.736669
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",2021-11-20 17:26:52.736669
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ...",2021-11-20 17:26:52.736669

In [5]:
dict1 = {'x':1,'y':2,'Z':3}

In [6]:
a = ['x','y','z']

In [7]:
b =[1,2,3]

In [8]:
newList = list(zip(a,b))

In [9]:
newList

[('x', 1), ('y', 2), ('z', 3)]

In [10]:
a,b = zip(*newList)

In [11]:
a

('x', 'y', 'z')

In [13]:
s="Hello"
s1 = " "
for i in s:
    s1=i+s1
print(s1)

olleH

In [19]:
l=[1,2,3]
l1 = []

In [20]:
for i in l:
    l1.insert(0,i)
print(l1)

[3, 2, 1]

In [42]:
def Even_no():
    n=2
    while True:
        
        yield n
        n+=2

In [43]:
new = Even_no()

In [44]:
next(new)

2

In [32]:
def even():
    n=2
    while True:
        yield n
        n+=2

In [33]:
a = even()

In [34]:
next(a)

2

In [37]:
next(a)

8

In [4]:
def Outer(func):
    def inner(n):
        print("Hii")
        func(n)
        print("2",n)
    return inner

In [5]:
@Outer
def new(num1):
    print("In new funcion")

In [6]:
new(10)

Hii
In new funcion
2 10