In [5]:
def OuterFunc(func):
    '''This is the decorator function '''
#     def InnerFunc():
    print("Welcom to Inner  function,Before aading function")
    func()
    print("Welcom to Inner  function,After adding Function")
    return OuterFunc

In [6]:
@OuterFunc
def Welcome():
    '''This is new function we have written'''
    print("Welcome function")

Welcom to Inner  function,Before aading function
Welcome function
Welcom to Inner  function,After adding Function

In [21]:
print(OuterFunc.__doc__)

This is the decorator function

In [13]:
help(Welcome)

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [12]:
import pandas as pd

In [13]:
df2 = pd.read_csv("C:\\Users\\Admin\\Downloads\\xyz.csv")

In [15]:
df2.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [16]:
df2.columns

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [17]:
df2.columns = [col.upper() for col in df2.columns]

In [18]:
df2['New_column'] = "NO Value"

In [19]:
df2.drop("New_column",axis=1,inplace=True)

In [20]:
df2['New_col1']="No_VAlue"

In [21]:
df2.shape
df2.columns

Index(['YEAR', 'INDUSTRY_AGGREGATION_NZSIOC', 'INDUSTRY_CODE_NZSIOC',
       'INDUSTRY_NAME_NZSIOC', 'UNITS', 'VARIABLE_CODE', 'VARIABLE_NAME',
       'VARIABLE_CATEGORY', 'VALUE', 'INDUSTRY_CODE_ANZSIC06', 'New_col1'],
      dtype='object')

In [22]:
df2['temp']=df2['YEAR']

In [23]:
df2['INDUSTRY_CODE_NZSIOC'].isnull().sum()

0

In [24]:
df2['INDUSTRY_CODE_NZSIOC'].isnull().value_counts()

False    37080
Name: INDUSTRY_CODE_NZSIOC, dtype: int64

In [25]:
df2.head(5)

,YEAR,INDUSTRY_AGGREGATION_NZSIOC,INDUSTRY_CODE_NZSIOC,INDUSTRY_NAME_NZSIOC,UNITS,VARIABLE_CODE,VARIABLE_NAME,VARIABLE_CATEGORY,VALUE,INDUSTRY_CODE_ANZSIC06,New_col1,temp
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020

In [26]:
df2[df2['VALUE']>='54000' & df2(df2['YEAR']=='2018')]

TypeError: 'DataFrame' object is not callable

In [27]:
df2[df2['YEAR']==2018 and (df2['VALUE']>='50000')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [29]:
df2.loc[2:7]

,YEAR,INDUSTRY_AGGREGATION_NZSIOC,INDUSTRY_CODE_NZSIOC,INDUSTRY_NAME_NZSIOC,UNITS,VARIABLE_CODE,VARIABLE_NAME,VARIABLE_CATEGORY,VALUE,INDUSTRY_CODE_ANZSIC06,New_col1,temp
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
5,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...,No_VAlue,2020

In [31]:
df2.iloc[1:5,2:5]

  INDUSTRY_CODE_NZSIOC INDUSTRY_NAME_NZSIOC               UNITS
1                99999       All industries  Dollars (millions)
2                99999       All industries  Dollars (millions)
3                99999       All industries  Dollars (millions)
4                99999       All industries  Dollars (millions)