In [9]:
import pandas as pd

In [11]:
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\Employee.csv")

In [12]:
df

     name  dept_name  dept_id
0   sahil         HR      101
1  snehal         IT      110
2   Viraj  Marketing      123

In [15]:
col = pd.DataFrame(df,columns = ['name','dept_id'])

In [16]:
col

     name  dept_id
0   sahil      101
1  snehal      110
2   Viraj      123

In [25]:
dict1 = {'name':['maha','up','bihaar'],
        'stateids':['234','456','123']}

In [26]:
import pandas as pd
df = pd.DataFrame.from_dict(dict1)

In [29]:
col = pd.DataFrame(df,columns = ['name'])

In [30]:
col

     name
0    maha
1      up
2  bihaar

In [46]:
str1 ="nehal@nama"
str2 = str1.split("@")
str2[0]

'nehal'

In [38]:
seq = ' '
str1 = 'abc'
seq.join(str1)

'a b c'

In [43]:
str1.replace('a','enum')

'enumbc'

In [79]:
list3 = ['geeky','krish','geeksforgeeks','angular']

In [97]:
maxlen = -1
for i in list3:
    if len(i)>maxlen:
        maxlen = len(i)
        result = i
print("?max length is {} and string is {}".format(maxlen,result))

?max length is 13 and string is geeksforgeeks

In [95]:
list1= [34,45,6,7,34,56]

In [96]:
[(list1.count(i),i) for i in list1]

[(2, 34), (1, 45), (1, 6), (1, 7), (2, 34), (1, 56)]

In [104]:
s3 = "solapur"
s4 = " "

for i in s3:
    s4 = i+s4
print(s4)

rupalos

In [107]:
max = list1[0]
for i in list1:
    if i>max:
        max = i
print(max)

56

In [127]:
l2 = [1,2,3]
count = 0
for i in range(len(l2)):
    for j in range(len(l2)):
        for k in range(len(l2)):
            if i!=j and j!=k and i!=k :
                print(l2[i],l2[j],l2[k])
            if i==j and j==k and k==i:
                print(l2[i],l2[j],l2[k])
            if i==j and j!=k:
                print(l2[i],l2[j],l2[k])
            if i==k and j!=k:
                print(l2[i],l2[j],l2[k])

1 1 1
1 1 2
1 1 3
1 2 1
1 2 3
1 3 1
1 3 2
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
3 1 2
3 1 3
3 2 1
3 2 3
3 3 1
3 3 2
3 3 3

In [156]:
def Outer(func):
    msg = "python"
    def inner():
        print("Welcome to insiude functon")
        print(msg)
        func()
        print("At end of inside function ")
    return inner

In [157]:
@Outer
def newFunc():
    print("Hiii welcome to new function")

In [159]:
newFunc()

Welcome to insiude functon
python
Hiii welcome to new function
At end of inside function

In [136]:
result = Outer(newFunc)

In [137]:
result

In [183]:
class Vehicle():
    def __init__(self,windows,doors):
        self._windows = windows
        self.__doors  = doors
    def drive():
        print("Vehicle has drivinf funcctinality")

In [184]:
class Car(Vehicle):
    def __init__(self,windows,doors,engineType,selfDrive):
        super().__init__(windows,doors)
        self.engineType = engineType
        self.selfDrive = selfDrive
    def show_VehInfo(self):
        print("Windows are:{} Doors are {}".format(self.windows,self.doors))

In [186]:
Alto = Car(4,4,"Petrol","yes")
Car.drive()
dir(Alto)

Vehicle has drivinf funcctinality

['_Vehicle__doors',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_windows',
 'drive',
 'engineType',
 'selfDrive',
 'show_VehInfo']

In [187]:
Alto._windows

4

In [189]:
Alto._Vehicle__doors

4

In [191]:
Alto.show_VehInfo()

AttributeError: 'Car' object has no attribute 'windows'

In [192]:
power= lambda x,y:x**y

In [193]:
power(2,3)

8

In [194]:
nums = [45,67,78,65]
list(map(lambda x:x**2,nums))

[2025, 4489, 6084, 4225]

In [196]:
echo_word = lambda word,echo:word*echo

In [197]:
echo_word('hiii',5)

'hiiihiiihiiihiiihiii'

In [198]:
mul = lambda x,y:x*y

In [199]:
mul(3,3)

9

In [201]:
 sum = lambda a,b,c:a+b+c

In [202]:
sum(1,1,1)

3

In [206]:
num=456
rev = 0
while num!=0:
    rev = rev*10+num%10
    num = num//10
print(rev)

654