In [ ]:
main res-device
sub res --configuration/status/temp.

In [ ]:
get device/{id}
get congifuration/{id}/status/

In [ ]:
post device
post configuration/status

In [19]:
put configuration/status/{id}

SyntaxError: invalid syntax (<ipython-input-19-e1a23b76eda5>, line 1)

In [26]:
class A():
    def show(self):
        print("in the  A's show methos")
class B(A): 
    pass
#     def show(self):
#         print("in the  B's show methos")

class C(A):
    def show(self):
        print("in the  C's show methos")

class D(B,C): 
    pass
#     def show(self):
#         print("in the  D's show methos")
dObj = D()
dObj.show()

in the  C's show methos

In [1]:
class ValueTooSmall(Exception):
    pass
class ValueTooLarge(Exception):
    pass
num = 10
while True:
    try:
        ip_num = int(input("Enter the number.."))
        if ip_num<num:
            raise ValueTooSmall
        elif ip_num>num:
            raise ValueTooLarge
        break
        
    except ValueTooSmall:
           print("entered value is small...",end=" ")
    except ValueTooLarge:        
           print("Entered  value is large",end=" ")
    
print("cong...corrct")

Enter the number..34
Entered  value is large Enter the number..2
entered value is small... Enter the number..9
entered value is small... Enter the number..10
cong...corrct

In [1]:
list1 = [1,2,3]

In [6]:
try:
    print("2 nd element:",list1[1])
    print("4 th element is :",list1[3])
except:
    print("an error occured")

2 nd element: 2
an error occured

In [7]:
import re

In [8]:
 str1 = '''Enter the number..2
entered value is small... Enter the number..45
Entered  value is large Enter the number..10
cong...corrct'''

In [30]:
res = re.findall('^Enter',str1)
res1 = re.findall("t$",str1)
res2=re.findall("E{1}",str1)

In [31]:
res2

['E', 'E', 'E', 'E']

In [34]:
r = re.findall("\S",str1)

In [36]:
r1 = re.findall("\d",str1)

In [37]:
r1

['2', '4', '5', '1', '0']

In [38]:
r2 = re.findall("\D",str1)

In [39]:
r2

['E',
 'n',
 't',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 '.',
 '.',
 '\n',
 'e',
 'n',
 't',
 'e',
 'r',
 'e',
 'd',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 ' ',
 'i',
 's',
 ' ',
 's',
 'm',
 'a',
 'l',
 'l',
 '.',
 '.',
 '.',
 ' ',
 'E',
 'n',
 't',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 '.',
 '.',
 '\n',
 'E',
 'n',
 't',
 'e',
 'r',
 'e',
 'd',
 ' ',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'l',
 'a',
 'r',
 'g',
 'e',
 ' ',
 'E',
 'n',
 't',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 '.',
 '.',
 '\n',
 'c',
 'o',
 'n',
 'g',
 '.',
 '.',
 '.',
 'c',
 'o',
 'r',
 'r',
 'c',
 't']

In [42]:
r3 = re.findall("\W",str1)

In [43]:
r4 = re.search("",str1)

[' ',
 ' ',
 '.',
 '.',
 '\n',
 ' ',
 ' ',
 ' ',
 '.',
 '.',
 '.',
 ' ',
 ' ',
 ' ',
 '.',
 '.',
 '\n',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '.',
 '.',
 '\n',
 '.',
 '.',
 '.']

In [61]:
r4 = re.findall("[a-zA-Z]",str1)

In [66]:
len(r4)

90

re5 = re.findall("[0-9][0-9]",str1)

re5

re5

In [68]:
re5

NameError: name 're5' is not defined

In [69]:
r=re.findall("[0-9][0-9]",str1)

In [70]:
r

['45', '10']

In [71]:
import pandas as pd

In [76]:
df1 =pd.read_csv("C:\\Users\\Admin\\Downloads\\xyz.csv")

In [77]:
df = pd.DataFrame(df1)

In [78]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [79]:
df.loc[3]

Year                                                                        2020
Industry_aggregation_NZSIOC                                              Level 1
Industry_code_NZSIOC                                                       99999
Industry_name_NZSIOC                                              All industries
Units                                                         Dollars (millions)
Variable_code                                                                H07
Variable_name                                               Non-operating income
Variable_category                                          Financial performance
Value                                                                     18,285
Industry_code_ANZSIC06         ANZSIC06 divisions A-S (excluding classes K633...
Name: 3, dtype: object

In [80]:
df.loc[3:'Industry_code_NZSIOC']

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
3,2020,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"18,285",ANZSIC06 divisions A-S (excluding classes K633...
4,2020,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,872",ANZSIC06 divisions A-S (excluding classes K633...
5,2020,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"32,730",ANZSIC06 divisions A-S (excluding classes K633...
6,2020,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"7,509",ANZSIC06 divisions A-S (excluding classes K633...
7,2020,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"26,821",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
37075,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37076,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37077,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37078,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
37079,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [81]:
df.loc[0:2]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2020,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"733,258",ANZSIC06 divisions A-S (excluding classes K633...
1,2020,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630",ANZSIC06 divisions A-S (excluding classes K633...
2,2020,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"54,342",ANZSIC06 divisions A-S (excluding classes K633...

In [82]:
df.iloc[0:90,5:9]

,Variable_code,Variable_name,Variable_category,Value
0,H01,Total income,Financial performance,"733,258"
1,H04,"Sales, government funding, grants and subsidies",Financial performance,"660,630"
2,H05,"Interest, dividends and donations",Financial performance,"54,342"
3,H07,Non-operating income,Financial performance,"18,285"
4,H08,Total expenditure,Financial performance,"654,872"
...,...,...,...,...
85,H35,Surplus per employee count,Financial ratios,"35,500"
86,H36,Current ratio,Financial ratios,80
87,H37,Quick ratio,Financial ratios,70
88,H39,Return on equity,Financial ratios,12
89,H40,Return on total assets,Financial ratios,6

In [4]:
l1 = [1,2,2,3,3,4]
dict1 = {}

In [5]:

for i in l1:
    if i in dict1:
        dict1[i]=dict1[i]+1
    else:
        dict1[i]=1
print(dict1)

{1: 1, 2: 2, 3: 2, 4: 1}

In [28]:
# inheriting thread class
from threading import Thread
import time
class Hello(Thread):
    def run(self):
        for i in range(5):
            print("Hello")
            time.sleep(2)
        
class Hi(Thread):
    def run(self):
        for i in range(5):
            print("Hiii")
            time.sleep(2)

In [29]:

t1 = Hello()
t2 = Hi()

In [30]:
t1.start()
t2.start()



t1.join()
t2.join()

print("Byeee")

Hello
Hiii
Hello
Hiii
Hello
Hiii
Hello
Hiii
Hello
Hiii
Byeee

In [38]:
# thread using thread object

from threading import Thread
def display(a):
    print("Thread runnning",a)
    
for i in range(5):    
    t = Thread(target=display,args= (10,))
    t.start()

Thread runnning 10
Thread runnning 10
Thread runnning 10
Thread runnning 10
Thread runnning 10

In [38]:
def OuterFunc(func):
    def InnerFunc():
        print("before execution")
        func()
        print("After Execution")
    return InnerFunc

In [39]:
@OuterFunc
def NewFunc():
    total=int(input("Enter total no. u want to enter"))
    if total<=2:
        num1 = int(input("Enter the first number"))
        num2 = int(input("Enter the second number"))
        sum1 = num1+num2
    else:
        num1 = int(input("Enter the first number"))
        num2 = int(input("Enter the second number"))
        num3 = int(input("Enter the second number"))
        sum1 = num1+num2+num3
    print("sum of numbers is:",sum1)

In [40]:
NewFunc()

before execution
Enter total no. u want to enter3
Enter the first number1
Enter the second number2
Enter the second number3
sum of numbers is: 6
After Execution

In [ ]:
class ValueToosmall(Exception):
    pass
#     print("Enetred valie is small")
class ValueTooLarge(Exception):
    pass
#     print("Entered value is large")

no=10
while True:
    try:
        num=int(input("Enter the number"))
        if num<no:
            raise ValueToosmall
        else:
            raise ValueTooLarge
            break
    except ValueToosmall:
        print("small")
    except ValueTooLarge:
        print("value large")
print("correct no.")

Enter the number34
value large
Enter the number45
value large
Enter the number12
value large
Enter the number2
small
Enter the number8
small
Enter the number10
value large