generators to reverse a string

In [4]:
def rev_str(my_str):
    for i in range(len(my_str)-1,-1,-1):
        yield my_str[i]

In [5]:
for j in rev_str("Hello"):
    print(j)

o
l
l
e
H

In [6]:
rev_str("pune")

In [3]:
s="hello"
new_str=" "
for i in s:
    new_str = i+new_str
print(new_str)

olleh

In [16]:
def odd_no(*num):
    for i in num:
        if i%2!=0:
            yield i

In [17]:
odd = odd_no(1,3,4,5,67,89,45,32,12)

In [1]:
l1=[1,2,3]
l2=[1,2,3]

In [3]:
newList = list(map(lambda x,y:x+y ,l1,l2))

In [4]:
newList

[2, 4, 6]

In [48]:
def fibonacci_seri(limit):
    a,b = 0,1
    i=0
    while i<limit:
        a,b = b,a+b
        yield a
        i+=1

In [49]:
f = fibonacci_seri(10)

In [50]:
for i in f:
    print(i)

1
1
2
3
5
8
13
21
34
55

In [7]:

def squares(num):
        yield num*2

In [11]:
next(squares(5))

10

In [12]:
next()

TypeError: next expected at least 1 argument, got 0

In [13]:
newList=[]
def flat_list(list1):
    for element in list1:
        if type(element)==list:
            flat_list(element)
        else:
            newList.append(element)
    print(newList)

In [113]:
flat_list([[1,2,3,[4,5],6,7,[8,9],10]])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
def SwapPosition(list,pos1,pos2):
    list[pos1],list[pos2] = list[pos2],list[pos1]
    return list

In [12]:
SwapPosition([2,3],[1,2],)

IndexError: list index out of range

In [119]:
def SwapStr(str,pos1,pos2):
    str[pos1],str[pos2] == str[pos2],str[pos1]
    return str

In [121]:
SwapStr("Host",0,3)

'Host'

In [125]:
list1=[34,5,6,89,67,1,2,786]

In [138]:
def SortList(list1):
    for i in range(len(list1)):
        for j in range(len(list1)):
            if list1[i]>list1[j]:
                temp = list1[i]
                list1[i] = list1[j]
                list1[j] = temp
    print(list1)

In [139]:
SortList(list1)

[786, 89, 67, 34, 6, 5, 2, 1]

In [3]:
def test(x,y,z):
    print(x,y,z)

In [4]:
f = dict(x=1,y=2,z=3)

In [5]:
test(*f)

x y z

In [6]:
test(**f)

1 2 3

In [7]:
dict1={'name':'swapnali','roll':20}

In [8]:
def keys(name,roll):
    print(name,roll)

In [11]:
keys(*dict1)
keys(**dict1)

name roll
swapnali 20

In [10]:
lst1 = [1,2,3,4,4,4,5,6,7,8]

In [28]:
dict1={}
for i in lst1:
    if i in dict:
        dict1[i]=dict1[i]+1
    else:
        dict1[i]=1
print(dict1)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1}

In [18]:
lst1 = [1,2,3,4,4,4,5,6,7,8]
newList=[]
new1 = []
for i in lst1:
    if i not in newList:
        newList.append(i)
    else:
        new1.append(i)
print(newList) 
print(new1)

[1, 2, 3, 4, 5, 6, 7, 8]
[4, 4]

In [24]:
[(lst1.count(i),i) for i in set(lst1)]

[(1, 1), (1, 2), (1, 3), (3, 4), (1, 5), (1, 6), (1, 7), (1, 8)]

In [25]:
n = [(1, 1), (1, 2), (1, 3), (3, 4), (1, 5), (1, 6), (1, 7), (1, 8)]

In [29]:
s = "Goodmorning"
dict1={}
for e in s:
    if e in dict1:
        dict1[e]=dict1[e]+1
    else:
        dict1[e]=1
print(dict1)

{'G': 1, 'o': 3, 'd': 1, 'm': 1, 'r': 1, 'n': 2, 'i': 1, 'g': 1}

In [30]:
d = {'G': 1, 'o': 3, 'd': 1, 'm': 1, 'r': 1, 'n': 2, 'i': 1, 'g': 1}

In [35]:
d1 =  d.items()

In [36]:
d1

dict_items([('G', 1), ('o', 3), ('d', 1), ('m', 1), ('r', 1), ('n', 2), ('i', 1), ('g', 1)])

In [14]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\new1\\xyz.csv")

In [18]:
df.describe()

               Year
count  37080.000000
mean    2016.500000
std        2.291319
min     2013.000000
25%     2014.750000
50%     2016.500000
75%     2018.250000
max     2020.000000

NameError: name 'dtype' is not defined

In [22]:
def even_no():
    n=2
    while True:
        yield n
        n+=2

In [24]:
num = even_no()

In [29]:
next(num)

10

In [45]:
m = "string"
def rev():
    for i in range(len(m)-1,-1,-1):
        yield m[i]

In [46]:
a = rev()

In [47]:
for i in a:
    print(i)

g
n
i
r
t
s

In [16]:
ls=[3,4,5,6,6,7]

In [17]:
d = {}
for i in ls:
    if i in d:
        d[i] = d[i]+1
    else:
        d[i] = 1
print(d)

{3: 1, 4: 1, 5: 1, 6: 2, 7: 1}

In [1]:
def fibo(limit):
    a,b = 0,1
    i = 0
    while i<limit:
        a,b = b,a+b
        yield a
        i+=1

In [2]:
f = fibo(5)

In [4]:
[i for i in f]

[1, 1, 2, 3, 5]